Repository oxyno-zeta/prometheus-cachethq, changes with the labels that .github/labeler.yml gives for each.
All labels: dockerfile, tests, actions, ci, documentation

.github/labeler.yml:

# Add Dockerfile label
dockerfile:
  - Dockerfile*

# Add test label
tests:
  - pkg/**/*_test.go

# Add actions label
actions:
  - .github/**/*
  - .github/*

# Add ci label
ci:
  - .circleci/*

# Add documentation label
documentation:
  - "**/*.md"
  - "*.md"

docs: Add code of conduct
  .github/CODE_OF_CONDUCT.md
Labels: actions, documentation

docs: Add pull request template
  .github/pull_request_template.md
Labels: actions, documentation

ci: Fix linter version
  .github/workflows/ci.yml
Labels: actions

chore: Fix goreleaser config
  .goreleaser.yml
Labels: none

ci: Fix tests step management
  .github/workflows/ci.yml
Labels: actions

chore: Change setup services order
  Makefile
Labels: none

test(config): Fix integration tests
  pkg/prometheus-cachethq/config/managercontext_integration_test.go
Labels: tests

test(server): Add integration tests with real CachetHQ
  pkg/prometheus-cachethq/server/server_integration_test.go
Labels: tests

fix(cachethq): Integrate max pagination in get all groups
  pkg/prometheus-cachethq/cachethq/instance.go
Labels: none

perf(cachethq): Optimize code
  pkg/prometheus-cachethq/cachethq/instance.go
Labels: none

test(server): Add integration tests with real CachetHQ
  pkg/prometheus-cachethq/server/server_integration_test.go
Labels: tests
